.form {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;

    &__input {
        box-sizing: border-box;
        width: 75%;
        height: 40px;
    }

    &__button {
        box-sizing: border-box;
        width: 25%;
        height: 40px;
    }
}